<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <characters>
        <character>
            <enabled>true</enabled>
            <id>5428629918277563601</id>
            <name>FriendlyHenry</name>
        </character>
        <character>
            <enabled>true</enabled>
            <id>5428631729613477649</id>
            <name>HostileHenry</name>
        </character>
        <character>
            <enabled>true</enabled>
            <id>5428655647100582833</id>
            <name>SpaceHenry</name>
        </character>
        <character>
            <enabled>true</enabled>
            <id>5428823203443579041</id>
            <name>HenryVanTern</name>
        </character>
        <character>
            <enabled>true</enabled>
            <id>5428823203451696513</id>
            <name>S3ANC0NNERY</name>
        </character>
        <character>
            <enabled>true</enabled>
            <id>5428851341651662641</id>
            <name>LingLingXiaoPing500</name>
        </character>
        <character>
            <enabled>true</enabled>
            <id>8271049455860263025</id>
            <name>HenryVTanner</name>
        </character>
    </characters>
    <createCombinedVideo>true</createCombinedVideo>
    <preceedingSeconds>5</preceedingSeconds>
    <trailingSeconds>5</trailingSeconds>
    <videoOutputRootPath>C:\Users\henry\Desktop\60</videoOutputRootPath>
    <videoSourceRootPath>F:\ps2-recordings</videoSourceRootPath>
</settings>
